.topic {
    margin-bottom: 0.4em;
    /*border-bottom: 1px solid #eee;*/
}

.topic h3 {
    margin: 0 0 0 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-weight: normal;
    font-size: 1.5em;
}

.topic .add-vote,
.topic .remove-vote,
.topic .log-in-popup {
    display: block;
    float: left;
    width: 24px;
    height: 24px;
}

.icon.up-arrow {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("/images/up-arrow-sprite.png") no-repeat 0 -48px;
}
.add-vote .icon.up-arrow {
    background-position: 0 0;
}
.remove-vote .icon.up-arrow {
    background-position: 0 -24px;
}