.hidden {
    display: none;
}

/* Topic voting arrow CSS */
.icon.up-arrow {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("/images/up-arrow-sprite.png") no-repeat 0 -48px;
}
.add-vote .icon.up-arrow {
    background-position: 0 0;
}
.remove-vote .icon.up-arrow {
    background-position: 0 -24px;
}

/* Topics CSS */
.topic {
    cursor: pointer;
    padding-top: 10px;
}

.topic .add-vote,
.topic .remove-vote,
.topic .log-in-popup {
    display: block;
    float: left;
    width: 24px;
    height: 24px;
}

.topic-info {
    margin-left: 24px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.topic-info h3 {
    margin: 0;
    font-weight: normal;
    font-size: 1.5em;
}

ul.topic-meta {
    margin: 5px 0 0 -18px;
}

ul.topic-meta li {
    font-size: 0.9em;
}

ul.topic-meta .author-photo {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-position: center center;
    background-size: 20px auto;
    background-repeat: no-repeat;
    border-radius: 4px;
}
ul.topic-meta .author-name {
    display: inline;
}

.topic-info .description {
    padding: 2px 4px;
    margin: 0;
    color: #444;
}

.create-topic label {
    margin-bottom: 10px;
}
.create-topic .tags {
    padding-bottom: 15px;
}
    .create-topic .tag {
        float: left;
        padding: 4px 10px;
        margin: 5px;
        color: #bbb;
        background-color: #eee;
        border-radius: 10px;
    }
    .create-topic input:checked+.tag {
        font-weight: 500;
        color: white;
        background-color: #196177;
    }
.create-topic .submit {
    text-align: right;
}
